@using BookstoreCore.Models.BookViewModels;
@using Microsoft.AspNetCore.Mvc.Rendering;

@model AddEditBookViewModel

@{
    ViewData["Title"] = "Add";
}
<div class="single-product-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7">
                <div class="single-product-image-inner">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="one">
                            <a class="venobox" href="~/img/single-product/bg-1.jpg" data-gall="gallery" title="">
                                <img src="~/img/single-product/bg-1.jpg" alt="">
                            </a>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="two">
                            <a class="venobox" href="~/img/single-product/bg-2.jpg" data-gall="gallery" title="">
                                <img src="~/img/single-product/bg-2.jpg" alt="">
                            </a>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="three">
                            <a class="venobox" href="~/img/single-product/bg-3.jpg" data-gall="gallery" title="">
                                <img src="~/img/single-product/bg-3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="product-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab"><img src="~/img/single-product/1.jpg" alt=""></a></li>
                        <li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab"><img src="~/img/single-product/2.jpg" alt=""></a></li>
                        <li role="presentation"><a href="#three" aria-controls="three" role="tab" data-toggle="tab"><img src="~/img/single-product/3.jpg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-5">
                <div class="single-product-details">
                    <div class="list-pro-rating">
                        <i class="fa fa-star icolor"></i>
                        <i class="fa fa-star icolor"></i>
                        <i class="fa fa-star icolor"></i>
                        <i class="fa fa-star icolor"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h2>Cold mountain</h2>


                    <div class="col-md-10 col-sm-6">
                        <form class="create-account-form" asp-controller="Books" asp-action="Add">
                            <h2 class="heading-title">
                                ALREADY RESIGTERED?
                            </h2>
                            <p class="form-row">
                                <input asp-for="Title" placeholder="Enter Book title">
                                <span asp-validation-for="Title"></span>
                            </p>

                            <div>
                                <label asp-for="Authors"></label>
                                <select asp-for="AuthorID" asp-items="(IEnumerable<SelectListItem>)Model.Authors"> </select>
                                <span>
                                    <button class="btn-default" onclick="openAuthor();return false">Add Author</button>
                                </span>
                                <div hidden id="authorDiv">
                                    <input id="authorName" type="text" placeholder="Add Author Name" />
                                    <input id="authorSurname" type="text" placeholder="Add Author Surname" />
                                    <button class="btn-default" onclick="addAuthor();return false">
                                        Add
                                    </button>

                                </div>
                            </div>

                            <div class="submit">
                                <button type="submit" class="btn-default">
                                    <span>
                                        Save
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>

                    @*<div class="availability">
                            <span>In stock</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                        <div class="single-product-price">
                            <h2>$49.66</h2>
                        </div>
                        <div class="product-attributes clearfix">
                            <span class="pull-left" id="quantity-wanted-p">
                                <span class="dec qtybutton">-</span>
                                <input type="text" value="1" class="cart-plus-minus-box">
                                <span class="inc qtybutton">+</span>
                            </span>
                            <span>
                                <a class="cart-btn btn-default" href="cart.html">
                                    <i class="flaticon-shop"></i>
                                    Add to cart
                                </a>
                            </span>
                        </div>
                        <div class="add-to-wishlist">
                            <a class="wish-btn" href="cart.html">
                                <i class="fa fa-heart-o"></i>
                                ADD TO WISHLIST
                            </a>
                        </div>*@
                    <div class="single-product-categories">
                        <label>Categories:</label>
                        <span>e-book, biological, business</span>
                    </div>
                    <div class="social-share">
                        <label>Share: </label>
                        <ul class="social-share-icon">
                            <li><a href="#"><i class="flaticon-social"></i></a></li>
                            <li><a href="#"><i class="flaticon-social-1"></i></a></li>
                            <li><a href="#"><i class="flaticon-social-2"></i></a></li>
                        </ul>
                    </div>
                    <div id="product-comments-block-extra">
                        <ul class="comments-advices">
                            <li>
                                <a href="#" class="open-comment-form">Write a review</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="p-details-tab-content">
                    <div class="p-details-tab">
                        <ul class="p-details-nav-tab" role="tablist">
                            <li role="presentation" class="active"><a href="#more-info" aria-controls="more-info" role="tab" data-toggle="tab">Description</a></li>
                            <li role="presentation"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Review</a></li>
                            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Tab</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tab-content review">
                        <div role="tabpanel" class="tab-pane active" id="more-info">
                            <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="data">
                            <table class="table-data-sheet">
                                <tbody>
                                    <tr class="odd">
                                        <td>Compositions</td>
                                        <td>Cotton</td>
                                    </tr>
                                    <tr class="even">
                                        <td>Styles</td>
                                        <td>Casual</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Properties</td>
                                        <td>Short Sleeve</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="reviews">
                            <div id="product-comments-block-tab">
                                <a href="#" class="comment-btn"><span>Be the first to write your review!</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<h2>Add</h2>

    <form asp-action="Add" asp-controller="Books">
        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" type="text" />
        </div>

        <div>
            <label asp-for="Authors"></label>
            <select asp-for="AuthorID" asp-items="(IEnumerable<SelectListItem>)Model.Authors"> </select>
        </div>

        <div>
            <button>Save</button>
        </div>
    </form>*@

@section Scripts{
    <script type="text/javascript">

        function openAuthor() {
            var authorName = document.getElementById("authorDiv");
            authorName.removeAttribute("hidden");
        }

        function addAuthor() {
            debugger
            var authorName = $('#authorName').val();
            var authorSurname = $('#authorSurname').val();
            debugger

            $.ajax({
                type: "POST",
                url: "/Books/AddAuthor",
                data: {
                    name: authorName,
                    surname: authorSurname
                },
                sucess: function () {

                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('failed to add author: ' + thrownError);
                }
            });

        }




    </script>


}